<!--
  Generated template for the IndexPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>主页</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!-- 轮播图 -->
<ion-slides autoplay="2000" pager=true loop=true *ngIf="myRes.carouselItems" style="height:150px">
  <ion-slide *ngFor="let item of myRes.carouselItems">
    <img [src]="'../../assets/'+item.img">
  </ion-slide>
</ion-slides>

<!-- 支持横向滚动的容器 -->
<ion-scroll style="height:300px; white-space:nowrap;" scrollX=true>
  <ion-card *ngFor="let item of myRes.newArrialItems" style="display:inline-block;">
    <ion-card-header>
      <img style="height:200px" [src]="'../../assets/'+item.pic">
    </ion-card-header>
    <ion-card-content>{{item.title}}</ion-card-content>
  </ion-card>
</ion-scroll>

<!-- 缩略图列表 -->
<ion-list>
  <ion-item  *ngFor="let item of myRes.recommendedItems;" text-wrap (click)="jump(item.pid)">
    <ion-thumbnail item-start>
      <img [src]="'../../assets/'+item.pic">
    </ion-thumbnail>
    <h3>{{item.title}}</h3>
    <p>{{item.details}}</p>
    <button ion-button clear item-end>
      <ion-icon name="cart"></ion-icon>
    </button>
  </ion-item>
</ion-list>
</ion-content>
